
/* carousel */

.carousel-item {
    height: 80vh; 
}
.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 80vh; 
}

/* card */

.card>img {
    height: 200px;
}

.card {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Book Availability */
#book-list{
    height:100vh;
    background-attachment:fixed; 
    overflow-x:scroll;
}

#book-list::-webkit-scrollbar {
    display: none;
}

#book-list {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

/* update user modal */
.update-input-field{
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid black;
}